@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f9fafb;
  --foreground-color: #111827;
  --card-background-color: #ffffff;
  --border-color: #e5e7eb;
  --primary-color: #3b82f6;
  --primary-color-hover: #2563eb;
}

@font-face {
  font-family: "satoshi-light";
  src: url("./styles/fonts/Satoshi-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "satoshi-regular";
  src: url("./styles/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "satoshi-italic";
  src: url("./styles/fonts/Satoshi-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "satoshi-medium";
  src: url("./styles/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "satoshi-bold";
  src: url("./styles/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "satoshi-black";
  src: url("./styles/fonts/Satoshi-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-family: "satoshi-regular", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
